# Virtual Environment
venv_win64/python27
venv_win64/venv_win64_py27
venv_win64/python3x
venv_win64/venv_win64_py3x

# Visual Studio Code
.vscode

# R and RStudio files
src/*/*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Snakemake files
.snakemake
wf/.snakemake


